<%= form_with(model: element_property) do |form| %>
  <% if element_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(element_property.errors.count, "error") %> prohibited this element_property from being saved:</h2>

      <ul>
        <% element_property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :element_id %>
    <%= form.text_field :element_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
