<p id="notice"><%= notice %></p>

<h1>Page Elements</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Element</th>
      <th>Properties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_elements.each do |page_element| %>
      <tr>
        <td><%= page_element.page_id %></td>
        <td><%= page_element.element_id %></td>
        <td><%= page_element.properties %></td>
        <td><%= link_to 'Show', page_element %></td>
        <td><%= link_to 'Edit', edit_page_element_path(page_element) %></td>
        <td><%= link_to 'Destroy', page_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page Element', new_page_element_path %>
